body {
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

@media (max-width: 500px) {
   #stereotypes {
       margin-top: 15px;
   }
}

.festival {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.festival-title {
    height: auto;
    width: 100%;
    max-width: 1200px;
    border: #dbdcd7 3px solid;
    text-align: center;
    color: black;
    border-radius: 12px;
    background-image: url(./assets/preview.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 15px;
}

.festive-para {
    font-size: 20px;
}

.festive-btn {
    font-size: 23px;
    background: orangered;
    border-radius: 20px;
    width: 200px;
}

.festive-btn:hover {
    background-color: lightcoral;
    border: 3px solid lightgreen;
}

.bharatnatyam {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

.bha-poster {
    height: auto;
    width: 100%;
    max-width: 400px;
    border: 5px dashed brown;
}

.bha-poster:hover {
    height: auto;
    width: 100%;
    max-width: 420px;
    border: 5px dashed yellow;
    transition: 1s;
}

.bha-btn {
    font-size: 23px;
    background: orangered;
    border-radius: 10px;
    width: 200px;
}

.bha-btn:hover {
    background-color: lightcoral;
    border: 3px solid lightgreen;
}

.bha-btn-pad {
    padding-top: 10px;
}